<div class="navbar">
  <div class="navigations">
    <a href="" class="item-navbar">Inicio</a>
    <a href="" class="item-navbar">Catalogo</a>
    <a href="" class="item-navbar">Ingresar</a>
  </div>
  <div class="profile-settings">
    <img [src]="imageProfile">
    <div class="menu">
      Israel Martinez
      ▼ 
      <div class="dropdown-content" style="color: black">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
  </div>
</div>