/* Add application styles & imports to this file! */

.content {
  width: 100%;
  height: 45pc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.btn-blue {
  min-width: 20px;
  background-color: #9bd0e7;
  height: 35px;
  max-width: 80px;
}


.center-form {
  width: 70%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.txt-login  {
  width: 80%;
  height: 22px;
  border-radius: 3px;
  outline: none;
  padding-left: 5px;
}

.txt-login:focus {
  box-shadow: 3px 3px 2px 2px #3ba7d6;
}

body {
  margin: 0;
}